# Phase 2: Self-Hosted ClickHouse
apiVersion: clickhouse.altinity.com/v1
kind: ClickHouseInstallation
metadata:
  name: apexseo-clickhouse
  namespace: default
spec:
  configuration:
    clusters:
      - name: apexseo-cluster
        layout:
          shardsCount: 1
          replicasCount: 2
  defaults:
    templates:
      podTemplate: pod-template
      dataVolumeClaimTemplate: data-volume-template
  templates:
    podTemplates:
      - name: pod-template
        spec:
          containers:
            - name: clickhouse
              image: clickhouse/clickhouse-server:23.8
    volumeClaimTemplates:
      - name: data-volume-template
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 100Gi
